venve/
dist/
__pycache__
assets/
__pycache__/
.idea/
build/

icon.ico
holograma.spec
PIEZAS/1.obj
PIEZAS/2.obj
PIEZAS/3.obj
PIEZAS/5.obj
PIEZAS/6.obj
PIEZAS/PIEZA 18.obj
PIEZAS/PIEZA 19.obj
PIEZAS/PIEZA1.obj
PIEZAS/PIEZA10.obj
PIEZAS/PIEZA11.obj
PIEZAS/olla-matada.obj
PIEZAS/principal.obj
PIEZAS/prueba/Green_Circle_0915213601.obj
PIEZAS/cajete-rojo.obj
PIEZAS/PIEZA8.obj
PIEZAS/PIEZA7.obj
PIEZAS/PIEZA6.obj
PIEZAS/PIEZA17.obj

