venve/
dist/
__pycache__
assets/
__pycache__/
.idea/
build/

icon.ico
holograma.spec

PIEZAS/PIEZA 18.obj
PIEZAS/PIEZA 19.obj
PIEZAS/PIEZA1.obj
PIEZAS/cajete-rojo.obj
PIEZAS/PIEZA8.obj
PIEZAS/PIEZA7.obj
PIEZAS/PIEZA6.obj
PIEZAS/PIEZA17.obj

